{
    "swagger": "2.0",
    "info": {
        "description": "The Amelia REST API allows for client applications to connect to Amelia and hold conversations using simple REST commands and webhookUrls or polling.",
        "version": "5.7.4",
        "title": "Amelia REST API",
        "contact": {
            "name": "Amelia",
            "url": "https://amelia.ai/"
        }
    },
    "host": "us.demo.amelia.com",
    "basePath": "/AmeliaRest",
    "tags": [
        {
            "name": "messages-to-amelia-api",
            "description": "Messages To Amelia Api"
        },
        {
            "name": "supervisor-api",
            "description": "Supervisor Api"
        },
        {
            "name": "training-api",
            "description": "Training Api"
        },
        {
            "name": "integration-user-api",
            "description": "Integration User Api"
        },
        {
            "name": "domain-api",
            "description": "Domain Api"
        },
        {
            "name": "authentication-policy-api",
            "description": "Authentication Policy Api"
        },
        {
            "name": "ontology-api",
            "description": "Ontology Api"
        },
        {
            "name": "role-api",
            "description": "Role Api"
        },
        {
            "name": "conversation-api",
            "description": "Conversation Api"
        },
        {
            "name": "escalation-queue-api",
            "description": "Escalation Queue Api"
        },
        {
            "name": "metrics-api",
            "description": "Metrics Api"
        },
        {
            "name": "user-group-api",
            "description": "User Group Api"
        },
        {
            "name": "one-rpa-instance-api",
            "description": "One Rpa Instance Api"
        },
        {
            "name": "corpus-api",
            "description": "Corpus Api"
        },
        {
            "name": "escalation-team-api",
            "description": "Escalation Team Api"
        },
        {
            "name": "predict-api",
            "description": "Predict Api"
        },
        {
            "name": "virtual-host-api",
            "description": "Virtual Host Api"
        },
        {
            "name": "agent-api",
            "description": "Agent Api"
        },
        {
            "name": "audit-api",
            "description": "Audit Api"
        },
        {
            "name": "license-api",
            "description": "License Api"
        },
        {
            "name": "nps-analytics-api",
            "description": "Nps Analytics Api"
        },
        {
            "name": "messages-from-amelia-api",
            "description": "Messages From Amelia Api"
        },
        {
            "name": "sentient-api",
            "description": "Sentient Api"
        },
        {
            "name": "auth-api",
            "description": "Auth Api"
        },
        {
            "name": "push-notification-api",
            "description": "Push Notification Api"
        },
        {
            "name": "tabular-data-api",
            "description": "Tabular Data Api"
        },
        {
            "name": "intents-api",
            "description": "Intents Api"
        },
        {
            "name": "one-store-instance-api",
            "description": "One Store Instance Api"
        },
        {
            "name": "bpn-api",
            "description": "Bpn Api"
        },
        {
            "name": "classifiers-api",
            "description": "Classifiers Api"
        },
        {
            "name": "content-management-api",
            "description": "Content Management Api"
        },
        {
            "name": "subsystems-responder-api",
            "description": "Subsystems Responder Api"
        },
        {
            "name": "authentication-system-api",
            "description": "Authentication System Api"
        },
        {
            "name": "aiops-api",
            "description": "Aiops Api"
        },
        {
            "name": "avatar-api",
            "description": "Avatar Api"
        },
        {
            "name": "integration-api",
            "description": "Integration Api"
        },
        {
            "name": "script-api",
            "description": "Script Api"
        },
        {
            "name": "util-api",
            "description": "Util Api"
        },
        {
            "name": "entities-api",
            "description": "Entities Api"
        },
        {
            "name": "user-api",
            "description": "User Api"
        }
    ],
    "paths": {
        "/api/v1/admin/1rpa/": {
            "get": {
                "tags": [
                    "one-rpa-instance-api"
                ],
                "summary": "Get 1RPA Instances",
                "description": "Obtains the list of 1RPA Instances for display, optionally filtered by name",
                "operationId": "getOneRpaInstancesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Name to search for in the 1RPA instance",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The zero-indexed page of results to return",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of each results page",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get a list of 1RPA instances",
                        "responseSchema": {
                            "$ref": "#/definitions/OneRpaSearchResults",
                            "originalRef": "OneRpaSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneRpaSearchResults",
                            "originalRef": "OneRpaSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "one-rpa-instance-api"
                ],
                "summary": "Create 1RPA Instance",
                "description": "Create a new 1RPA Instance",
                "operationId": "createOneRpaInstanceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "oneDeskInstance",
                        "description": "The oneDeskInstance to create",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created 1RPA Instance",
                        "responseSchema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/1rpa/{id}": {
            "get": {
                "tags": [
                    "one-rpa-instance-api"
                ],
                "summary": "Get 1RPA Instance",
                "description": "Gets a 1RPA instance by its id",
                "operationId": "getOneRpaInstanceUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1RPA Instance in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single 1RPA Instance matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "one-rpa-instance-api"
                ],
                "summary": "Update 1RPA Instance",
                "description": "Updates a 1RPA Instance",
                "operationId": "updateOneRpaInstanceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1RPA Instance in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "oneDeskInstance",
                        "description": "The 1RPA Instance to update",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated 1RPA Instance",
                        "responseSchema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneRpaInstanceModel",
                            "originalRef": "OneRpaInstanceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "one-rpa-instance-api"
                ],
                "summary": "Delete 1RPA Instance",
                "description": "Deletes a 1RPA Instance",
                "operationId": "deleteOneRpaInstanceUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1RPA Instance in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A message indicating successful deletion",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/1store/": {
            "get": {
                "tags": [
                    "one-store-instance-api"
                ],
                "summary": "Get 1Store Instances",
                "description": "Obtains the list of 1Store Instances for display, optionally filtered by name",
                "operationId": "getOneStoreInstancesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Name to search for in the 1Store instance",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "apiKey",
                        "in": "query",
                        "description": "Api Key to use in search for 1Store instance",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The zero-indexed page of results to return",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of each results page",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Get a list of 1Store instances",
                        "responseSchema": {
                            "$ref": "#/definitions/OneStoreSearchResults",
                            "originalRef": "OneStoreSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneStoreSearchResults",
                            "originalRef": "OneStoreSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "one-store-instance-api"
                ],
                "summary": "Create 1Store Instance",
                "description": "Create a new 1Store Instance",
                "operationId": "createOneStoreInstanceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "oneStoreInstance",
                        "description": "The oneStoreInstance to create",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The created 1Store Instance",
                        "responseSchema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/1store/{id}": {
            "get": {
                "tags": [
                    "one-store-instance-api"
                ],
                "summary": "Get 1Store Instance",
                "description": "Gets a 1Store instance by its id",
                "operationId": "getOneStoreInstanceUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1STore in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single 1Store Instance matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "one-store-instance-api"
                ],
                "summary": "Update 1Store Instance",
                "description": "Updates a 1Store Instance",
                "operationId": "updateOneStoreInstanceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1Store Instance in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "oneStoreInstance",
                        "description": "The 1Store Instance to update",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "The updated 1Store Instance",
                        "responseSchema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/OneStoreInstanceModel",
                            "originalRef": "OneStoreInstanceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "one-store-instance-api"
                ],
                "summary": "Delete 1Store Instance",
                "description": "Deletes a 1Store Instance",
                "operationId": "deleteOneStoreInstanceUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the 1Store Instance in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A message indicating successful deletion",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/audit/": {
            "get": {
                "tags": [
                    "audit-api"
                ],
                "summary": "Get Audit Events",
                "description": "Gets the list of audited events",
                "operationId": "searchAuditEventsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Text search, of event name or domain code when the event was audited",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "from",
                        "in": "query",
                        "description": "the start of the search window, in format M/d/y H:m",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "to",
                        "in": "query",
                        "description": "the end of the search window, in format M/d/y H:m",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "tz",
                        "in": "query",
                        "description": "the code of the time zone if a time zone offset if required; if omitted, will use from/to as UTC",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The zero-indexed page of results to return",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of each results page",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful list of audit events list",
                        "responseSchema": {
                            "$ref": "#/definitions/AuditEventSearchResults",
                            "originalRef": "AuditEventSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/AuditEventSearchResults",
                            "originalRef": "AuditEventSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/audit/eventtypes": {
            "get": {
                "tags": [
                    "audit-api"
                ],
                "summary": "Get Audit Event Types",
                "description": "Gets the list of Audit Event Types in this Amelia instance",
                "operationId": "getAuditEventTypesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Optional filter by event type name",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Audit Event matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/AuditEventTypeSearchResults",
                            "originalRef": "AuditEventTypeSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/AuditEventTypeSearchResults",
                            "originalRef": "AuditEventTypeSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/audit/{id}": {
            "get": {
                "tags": [
                    "audit-api"
                ],
                "summary": "Get Audit Event",
                "description": "Gets a single audit event by its id",
                "operationId": "getAuditEventUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the audit event in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single Audit Event matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/AuditEventModel",
                            "originalRef": "AuditEventModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AuditEventModel",
                            "originalRef": "AuditEventModel"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/avatars/": {
            "get": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Get Avatars",
                "description": "Gets the list of avatars for administrative purposes",
                "operationId": "getAdminAvatarsUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "name",
                        "in": "query",
                        "description": "The name of the avatar",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "code",
                        "in": "query",
                        "description": "The code of the avatar",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Text to search for in either name or code",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The zero-indexed page of results to return",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of each results page",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful avatar list",
                        "responseSchema": {
                            "$ref": "#/definitions/AvatarSearchResults",
                            "originalRef": "AvatarSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/AvatarSearchResults",
                            "originalRef": "AvatarSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Create Avatar",
                "description": "Creates a new Avatar",
                "operationId": "createAvatarUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "adminAvatarModel",
                        "description": "The avatar to create",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful avatar list",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/avatars/voices/": {
            "get": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Get Avatar Voices",
                "description": "Gets the list of avatars voices for administrative purposes",
                "operationId": "getAvatarVoicesUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "search",
                        "in": "query",
                        "description": "Text to search in the voice",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "language",
                        "in": "query",
                        "description": "The Amelia language code the voice services",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "page",
                        "in": "query",
                        "description": "The zero-indexed page of results to return",
                        "required": false,
                        "type": "integer",
                        "default": 0,
                        "format": "int32"
                    },
                    {
                        "name": "size",
                        "in": "query",
                        "description": "The size of each results page",
                        "required": false,
                        "type": "integer",
                        "default": 10,
                        "format": "int32"
                    },
                    {
                        "name": "sort",
                        "in": "query",
                        "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
                        "required": false,
                        "type": "array",
                        "items": {
                            "type": "string"
                        },
                        "collectionFormat": "multi"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful avatar voice list",
                        "responseSchema": {
                            "$ref": "#/definitions/AvatarVoiceSearchResults",
                            "originalRef": "AvatarVoiceSearchResults"
                        },
                        "schema": {
                            "$ref": "#/definitions/AvatarVoiceSearchResults",
                            "originalRef": "AvatarVoiceSearchResults"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Create Avatar Voice",
                "description": "Creates a new Avatar Voice",
                "operationId": "createAvatarVoiceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "in": "body",
                        "name": "model",
                        "description": "The avatar to create",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully created avatar voice",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/avatars/voices/{id}": {
            "get": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Get Admin Avatar Voice",
                "description": "Gets a single avatar voice by its id",
                "operationId": "getAdminAvatarVoiceUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the avatar in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single voice matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Update Avatar Voice",
                "description": "Updates an Avatar Voice",
                "operationId": "updateAvatarVoiceUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": " the id of the avatar vice to update",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "model",
                        "description": "The avatar voice to update",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successfully updated avatar voice",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarVoiceModel",
                            "originalRef": "AdminAvatarVoiceModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "delete": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Delete Avatar Voice",
                "description": "Deletes an avatar voice",
                "operationId": "deleteAvatarVoiceUsingDELETE",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the avatar voice in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A message indicating successful deletion",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "204": {
                        "description": "No Content"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            }
        },
        "/api/v1/admin/avatars/{id}": {
            "get": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Get Admin Avatar",
                "description": "Gets a single avatar by its id",
                "operationId": "getAdminAvatarUsingGET",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": "The unique primary id of the avatar in Amelia",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "A single AmeliaAvatar matching the supplied id",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        }
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically when the session or conversation does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    }
                },
                "deprecated": false
            },
            "post": {
                "tags": [
                    "avatar-api"
                ],
                "summary": "Update Avatar",
                "description": "Updates a Avatar",
                "operationId": "updateAvatarUsingPOST",
                "consumes": [
                    "application/json"
                ],
                "produces": [
                    "application/json;charset=UTF-8"
                ],
                "parameters": [
                    {
                        "name": "id",
                        "in": "path",
                        "description": " the id of the avatar to update",
                        "required": false,
                        "type": "string"
                    },
                    {
                        "in": "body",
                        "name": "adminAvatarModel",
                        "description": "The avatar to udpate",
                        "required": false,
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        }
                    },
                    {
                        "name": "X-Amelia-Rest-Token",
                        "in": "header",
                        "description": "The temporary access token provided upon initial login",
                        "required": true,
                        "type": "string"
                    }
                ],
                "responses": {
                    "200": {
                        "description": "Successful avatar list",
                        "responseSchema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        },
                        "schema": {
                            "$ref": "#/definitions/AdminAvatarModel",
                            "originalRef": "AdminAvatarModel"
                        }
                    },
                    "201": {
                        "description": "Created"
                    },
                    "400": {
                        "description": "A status and message error, with optional other fields",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        }
                    },
                    "401": {
                        "description": "Unauthorized"
                    },
                    "403": {
                        "description": "Forbidden"
                    },
                    "404": {
                        "description": "Not Found"
                    },
                    "410": {
                        "description": "A status and message error, typically that the session does not exist",
                        "responseSchema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/SessionGoneResponse",
                            "originalRef": "SessionGoneResponse"
                        }
                    },
                    "500": {
                        "description": "Unexpected error",
                        "responseSchema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
                        },
                        "schema": {
                            "$ref": "#/definitions/StatusAndMessageResponse",
                            "originalRef": "StatusAndMessageResponse"
[...]
