{
  "openapi": "3.0.1",
  "info": {
    "title": "Amelia REST API",
    "description": "The Amelia REST API allows for client applications to connect to Amelia and hold conversations using simple REST commands and webhookUrls or polling.",
    "contact": {
      "name": "Amelia",
      "url": "https://amelia.ai/"
    },
    "version": "5.7.4"
  },
  "servers": [{
    "url": "//us.demo.amelia.com/AmeliaRest"
  }],
  "tags": [{
      "name": "messages-to-amelia-api",
      "description": "Messages To Amelia Api"
    },
    {
      "name": "supervisor-api",
      "description": "Supervisor Api"
    },
    {
      "name": "training-api",
      "description": "Training Api"
    },
    {
      "name": "integration-user-api",
      "description": "Integration User Api"
    },
    {
      "name": "domain-api",
      "description": "Domain Api"
    },
    {
      "name": "authentication-policy-api",
      "description": "Authentication Policy Api"
    },
    {
      "name": "ontology-api",
      "description": "Ontology Api"
    },
    {
      "name": "role-api",
      "description": "Role Api"
    },
    {
      "name": "conversation-api",
      "description": "Conversation Api"
    },
    {
      "name": "escalation-queue-api",
      "description": "Escalation Queue Api"
    },
    {
      "name": "metrics-api",
      "description": "Metrics Api"
    },
    {
      "name": "user-group-api",
      "description": "User Group Api"
    },
    {
      "name": "one-rpa-instance-api",
      "description": "One Rpa Instance Api"
    },
    {
      "name": "corpus-api",
      "description": "Corpus Api"
    },
    {
      "name": "escalation-team-api",
      "description": "Escalation Team Api"
    },
    {
      "name": "predict-api",
      "description": "Predict Api"
    },
    {
      "name": "virtual-host-api",
      "description": "Virtual Host Api"
    },
    {
      "name": "agent-api",
      "description": "Agent Api"
    },
    {
      "name": "audit-api",
      "description": "Audit Api"
    },
    {
      "name": "license-api",
      "description": "License Api"
    },
    {
      "name": "nps-analytics-api",
      "description": "Nps Analytics Api"
    },
    {
      "name": "messages-from-amelia-api",
      "description": "Messages From Amelia Api"
    },
    {
      "name": "sentient-api",
      "description": "Sentient Api"
    },
    {
      "name": "auth-api",
      "description": "Auth Api"
    },
    {
      "name": "push-notification-api",
      "description": "Push Notification Api"
    },
    {
      "name": "tabular-data-api",
      "description": "Tabular Data Api"
    },
    {
      "name": "intents-api",
      "description": "Intents Api"
    },
    {
      "name": "one-store-instance-api",
      "description": "One Store Instance Api"
    },
    {
      "name": "bpn-api",
      "description": "Bpn Api"
    },
    {
      "name": "classifiers-api",
      "description": "Classifiers Api"
    },
    {
      "name": "content-management-api",
      "description": "Content Management Api"
    },
    {
      "name": "subsystems-responder-api",
      "description": "Subsystems Responder Api"
    },
    {
      "name": "authentication-system-api",
      "description": "Authentication System Api"
    },
    {
      "name": "aiops-api",
      "description": "Aiops Api"
    },
    {
      "name": "avatar-api",
      "description": "Avatar Api"
    },
    {
      "name": "integration-api",
      "description": "Integration Api"
    },
    {
      "name": "script-api",
      "description": "Script Api"
    },
    {
      "name": "util-api",
      "description": "Util Api"
    },
    {
      "name": "entities-api",
      "description": "Entities Api"
    },
    {
      "name": "user-api",
      "description": "User Api"
    }
  ],
  "paths": {
    "/api/v1/admin/1rpa/": {
      "get": {
        "tags": [
          "one-rpa-instance-api"
        ],
        "summary": "Get 1RPA Instances",
        "description": "Obtains the list of 1RPA Instances for display, optionally filtered by name",
        "operationId": "getOneRpaInstancesUsingGET",
        "parameters": [{
            "name": "search",
            "in": "query",
            "description": "Name to search for in the 1RPA instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The zero-indexed page of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of each results page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of 1RPA instances",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneRpaSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "one-rpa-instance-api"
        ],
        "summary": "Create 1RPA Instance",
        "description": "Create a new 1RPA Instance",
        "operationId": "createOneRpaInstanceUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The oneDeskInstance to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneRpaInstanceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The created 1RPA Instance",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneRpaInstanceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "oneDeskInstance"
      }
    },
    "/api/v1/admin/1rpa/{id}": {
      "get": {
        "tags": [
          "one-rpa-instance-api"
        ],
        "summary": "Get 1RPA Instance",
        "description": "Gets a 1RPA instance by its id",
        "operationId": "getOneRpaInstanceUsingGET",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1RPA Instance in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single 1RPA Instance matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneRpaInstanceModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "one-rpa-instance-api"
        ],
        "summary": "Update 1RPA Instance",
        "description": "Updates a 1RPA Instance",
        "operationId": "updateOneRpaInstanceUsingPOST",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1RPA Instance in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The 1RPA Instance to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneRpaInstanceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated 1RPA Instance",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneRpaInstanceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "oneDeskInstance"
      },
      "delete": {
        "tags": [
          "one-rpa-instance-api"
        ],
        "summary": "Delete 1RPA Instance",
        "description": "Deletes a 1RPA Instance",
        "operationId": "deleteOneRpaInstanceUsingDELETE",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1RPA Instance in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message indicating successful deletion",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/1store/": {
      "get": {
        "tags": [
          "one-store-instance-api"
        ],
        "summary": "Get 1Store Instances",
        "description": "Obtains the list of 1Store Instances for display, optionally filtered by name",
        "operationId": "getOneStoreInstancesUsingGET",
        "parameters": [{
            "name": "search",
            "in": "query",
            "description": "Name to search for in the 1Store instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "apiKey",
            "in": "query",
            "description": "Api Key to use in search for 1Store instance",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The zero-indexed page of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of each results page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a list of 1Store instances",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneStoreSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "one-store-instance-api"
        ],
        "summary": "Create 1Store Instance",
        "description": "Create a new 1Store Instance",
        "operationId": "createOneStoreInstanceUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The oneStoreInstance to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneStoreInstanceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The created 1Store Instance",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneStoreInstanceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "oneStoreInstance"
      }
    },
    "/api/v1/admin/1store/{id}": {
      "get": {
        "tags": [
          "one-store-instance-api"
        ],
        "summary": "Get 1Store Instance",
        "description": "Gets a 1Store instance by its id",
        "operationId": "getOneStoreInstanceUsingGET",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1STore in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single 1Store Instance matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneStoreInstanceModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "one-store-instance-api"
        ],
        "summary": "Update 1Store Instance",
        "description": "Updates a 1Store Instance",
        "operationId": "updateOneStoreInstanceUsingPOST",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1Store Instance in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The 1Store Instance to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/OneStoreInstanceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "The updated 1Store Instance",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/OneStoreInstanceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "oneStoreInstance"
      },
      "delete": {
        "tags": [
          "one-store-instance-api"
        ],
        "summary": "Delete 1Store Instance",
        "description": "Deletes a 1Store Instance",
        "operationId": "deleteOneStoreInstanceUsingDELETE",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the 1Store Instance in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message indicating successful deletion",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/audit/": {
      "get": {
        "tags": [
          "audit-api"
        ],
        "summary": "Get Audit Events",
        "description": "Gets the list of audited events",
        "operationId": "searchAuditEventsUsingGET",
        "parameters": [{
            "name": "search",
            "in": "query",
            "description": "Text search, of event name or domain code when the event was audited",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "from",
            "in": "query",
            "description": "the start of the search window, in format M/d/y H:m",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "to",
            "in": "query",
            "description": "the end of the search window, in format M/d/y H:m",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "tz",
            "in": "query",
            "description": "the code of the time zone if a time zone offset if required; if omitted, will use from/to as UTC",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The zero-indexed page of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of each results page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful list of audit events list",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/audit/eventtypes": {
      "get": {
        "tags": [
          "audit-api"
        ],
        "summary": "Get Audit Event Types",
        "description": "Gets the list of Audit Event Types in this Amelia instance",
        "operationId": "getAuditEventTypesUsingGET",
        "parameters": [{
            "name": "search",
            "in": "query",
            "description": "Optional filter by event type name",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single Audit Event matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventTypeSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/audit/{id}": {
      "get": {
        "tags": [
          "audit-api"
        ],
        "summary": "Get Audit Event",
        "description": "Gets a single audit event by its id",
        "operationId": "getAuditEventUsingGET",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the audit event in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single Audit Event matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AuditEventModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/avatars/": {
      "get": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Get Avatars",
        "description": "Gets the list of avatars for administrative purposes",
        "operationId": "getAdminAvatarsUsingGET",
        "parameters": [{
            "name": "name",
            "in": "query",
            "description": "The name of the avatar",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "code",
            "in": "query",
            "description": "The code of the avatar",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "search",
            "in": "query",
            "description": "Text to search for in either name or code",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The zero-indexed page of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of each results page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful avatar list",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Create Avatar",
        "description": "Creates a new Avatar",
        "operationId": "createAvatarUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The avatar to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAvatarModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful avatar list",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "adminAvatarModel"
      }
    },
    "/api/v1/admin/avatars/voices/": {
      "get": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Get Avatar Voices",
        "description": "Gets the list of avatars voices for administrative purposes",
        "operationId": "getAvatarVoicesUsingGET",
        "parameters": [{
            "name": "search",
            "in": "query",
            "description": "Text to search in the voice",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "language",
            "in": "query",
            "description": "The Amelia language code the voice services",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "page",
            "in": "query",
            "description": "The zero-indexed page of results to return",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 0
            }
          },
          {
            "name": "size",
            "in": "query",
            "description": "The size of each results page",
            "schema": {
              "type": "integer",
              "format": "int32",
              "default": 10
            }
          },
          {
            "name": "sort",
            "in": "query",
            "description": "A list of {field},{dir} sort directives, where dir can be asc or desc",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string"
              }
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Successful avatar voice list",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AvatarVoiceSearchResults"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Create Avatar Voice",
        "description": "Creates a new Avatar Voice",
        "operationId": "createAvatarVoiceUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The avatar to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAvatarVoiceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successfully created avatar voice",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarVoiceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "model"
      }
    },
    "/api/v1/admin/avatars/voices/{id}": {
      "get": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Get Admin Avatar Voice",
        "description": "Gets a single avatar voice by its id",
        "operationId": "getAdminAvatarVoiceUsingGET",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the avatar in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single voice matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarVoiceModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Update Avatar Voice",
        "description": "Updates an Avatar Voice",
        "operationId": "updateAvatarVoiceUsingPOST",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": " the id of the avatar vice to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The avatar voice to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAvatarVoiceModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successfully updated avatar voice",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarVoiceModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "model"
      },
      "delete": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Delete Avatar Voice",
        "description": "Deletes an avatar voice",
        "operationId": "deleteAvatarVoiceUsingDELETE",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the avatar voice in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message indicating successful deletion",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/avatars/{id}": {
      "get": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Get Admin Avatar",
        "description": "Gets a single avatar by its id",
        "operationId": "getAdminAvatarUsingGET",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the avatar in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A single AmeliaAvatar matching the supplied id",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "post": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Update Avatar",
        "description": "Updates a Avatar",
        "operationId": "updateAvatarUsingPOST",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": " the id of the avatar to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The avatar to udpate",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AdminAvatarModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Successful avatar list",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/AdminAvatarModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "adminAvatarModel"
      },
      "delete": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Delete Avatar",
        "description": "Deletes an avatar",
        "operationId": "deleteAvatarUsingDELETE",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": "The unique primary id of the avatar in Amelia",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "A message indicating successful deletion",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/avatars/{id}/upload": {
      "post": {
        "tags": [
          "avatar-api"
        ],
        "summary": "Upload Images",
        "description": "Uploads Images to Avatar, putting them in pending state",
        "operationId": "uploadImageUsingPOST",
        "parameters": [{
            "name": "id",
            "in": "path",
            "description": " the id of the avatar to upload",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "properties": {
                  "nameTag": {
                    "type": "string",
                    "description": "nameTag",
                    "format": "binary"
                  },
                  "backgroundLight": {
                    "type": "string",
                    "description": "backgroundLight",
                    "format": "binary"
                  },
                  "backgroundDark": {
                    "type": "string",
                    "description": "backgroundDark",
                    "format": "binary"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "A map of image types to primary keys of the pending image to reference",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically that the session does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/bpn/folders/": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Create Folder",
        "description": "Creates a bpn folder in a domain",
        "operationId": "createFolderUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The folder to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpnTreeNode"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Create a BpnTreeNode ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnTreeNode"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "bpnTreeNode"
      }
    },
    "/api/v1/admin/bpn/folders/{folderId}": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Update Folder",
        "description": "Updates a bpn folder in a domain",
        "operationId": "updateFolderUsingPOST",
        "parameters": [{
            "name": "folderId",
            "in": "path",
            "description": "The primary key of the folder to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The folder to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpnTreeNode"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Create a BpnTreeNode ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnTreeNode"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "bpnTreeNode"
      },
      "delete": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Delete Folder",
        "description": "Deletes a bpn folder if empty",
        "operationId": "deleteFolderUsingDELETE",
        "parameters": [{
            "name": "folderId",
            "in": "path",
            "description": "The primary key of the folder to update",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a BpnTreeNode ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/bpn/processes/": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Create BPN Process",
        "description": "Creates a bpn process",
        "operationId": "createProcessUsingPOST",
        "parameters": [{
          "name": "X-Amelia-Rest-Token",
          "in": "header",
          "description": "The temporary access token provided upon initial login",
          "required": true,
          "schema": {
            "type": "string"
          }
        }],
        "requestBody": {
          "description": "The process to create",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BpnModel"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Create a Bpn Process ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "bpnModel"
      }
    },
    "/api/v1/admin/bpn/processes/domains/{domainId}/name/{bpnName}": {
      "get": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Get BPN Process by domain and name",
        "description": "Gets a specific BPN Process by its domain and name",
        "operationId": "getByByNameAndDomainUsingGET",
        "parameters": [{
            "name": "domainId",
            "in": "path",
            "description": "The primary key of the domain containing the BPN",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "bpnName",
            "in": "path",
            "description": "The name of the bpn in this domain",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a BpnModel",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/bpn/processes/import": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Import New BPN Process",
        "description": "Imports a bpn process from a file",
        "operationId": "importNewProcessUsingPOST",
        "parameters": [{
            "name": "name",
            "in": "query",
            "description": "name",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "domainId",
            "in": "query",
            "description": "domainId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "parentPathId",
            "in": "query",
            "description": "parentPathId",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "content": {
            "multipart/form-data": {
              "schema": {
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "description": "file",
                    "format": "binary"
                  }
                }
              }
            }
          },
          "required": true
        },
        "responses": {
          "200": {
            "description": "Import a Bpn Process ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/bpn/processes/{processId}": {
      "get": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Get BPN Process by id",
        "description": "Gets a specific BPN Process by its id",
        "operationId": "getBpnByIdUsingGET",
        "parameters": [{
            "name": "processId",
            "in": "path",
            "description": "The primary key of the BPN model",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Get a BpnModel",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/BpnModel"
                }
              }
            }
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      },
      "delete": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Delete Bpn Process",
        "description": "Deletes a bpn model in a domain",
        "operationId": "deleteProcessUsingDELETE",
        "parameters": [{
            "name": "processId",
            "in": "path",
            "description": "The primary key of the process to delete",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Delete a Bpn Model ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "204": {
            "description": "No Content",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false
      }
    },
    "/api/v1/admin/bpn/processes/{processId}/deploy": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Deploy BPN Process",
        "description": "Deploys a bpn process",
        "operationId": "deployProcessUsingPOST",
        "parameters": [{
            "name": "processId",
            "in": "path",
            "description": "The primary key of the process to deploy",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "description": "The process to update",
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/DeployBpnModelCommand"
              }
            }
          },
          "required": false
        },
        "responses": {
          "200": {
            "description": "Deploy a Bpn Process ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeployModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
            "description": "A status and message error, typically when the session or conversation does not exist",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/SessionGoneResponse"
                }
              }
            }
          },
          "500": {
            "description": "Unexpected error",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          }
        },
        "deprecated": false,
        "x-codegen-request-body-name": "bpnModel"
      }
    },
    "/api/v1/admin/bpn/processes/{processId}/deploy/withdeps": {
      "post": {
        "tags": [
          "bpn-api"
        ],
        "summary": "Deploy BPN Process with dependencies",
        "description": "Immediately deploys a bpn process with dependencies, without any validation or preflight checks.",
        "operationId": "deployProcessWithDependenciesUsingPOST",
        "parameters": [{
            "name": "processId",
            "in": "path",
            "description": "The primary key of the process to deploy",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "X-Amelia-Rest-Token",
            "in": "header",
            "description": "The temporary access token provided upon initial login",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Deploy a Bpn Process ",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/DeployModel"
                }
              }
            }
          },
          "201": {
            "description": "Created",
            "content": {}
          },
          "400": {
            "description": "A status and message error, with optional other fields",
            "content": {
              "application/json;charset=UTF-8": {
                "schema": {
                  "$ref": "#/components/schemas/StatusAndMessageResponse"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized",
            "content": {}
          },
          "403": {
            "description": "Forbidden",
            "content": {}
          },
          "404": {
            "description": "Not Found",
            "content": {}
          },
          "410": {
[...]
